{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container p-3 mx-auto">
    <div class="d-flex justify-content-center align-items-start flex-wrap">

        <div class="auth-section p-3 text-center">
            {% if user.is_authenticated %}
                <p>Hi {{ user.email }}!</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">Log In</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </div>

        <div class="hero-section d-flex flex-column justify-content-center align-items-center text-center p-5">
            <h1 class="display-4">Hi, I'm Joel Burns!</h1>
            <p class="lead mt-3">I build scalable and secure web applications using Python, Django, and modern web technologies.</p>
            <a href="https://github.com/jburns6789" class="btn btn-primary btn-lg">View My GitHub</a>
        </div>

        <div class="skills-section p-3 text-center">
            <h2 class="text-center">Skills & Technologies</h2>
            <div class="d-flex justify-content-center flex-wrap mt-4">
                <div class="p-3 text-center">
                    <img src="{% static 'images/icons/python.png' %}" alt="Python" width="50">
                    <p>Python</p>
                </div>
                <div class="p-3 text-center">
                    <img src="{% static 'images/icons/icons8-django-96.png' %}" alt="Django" width="50">
                    <p>Django</p>
                </div>
                <div class="p-3 text-center">
                    <img src="{% static 'images/icons/icons8-aws-96.png' %}" alt="AWS" width="50">
                    <p>AWS</p>
                </div>
                <div class="p-3 text-center">
                    <img src="{% static 'images/icons/docker.png' %}" alt="Docker" width="50">
                    <p>Docker</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-link p-3 text-center">
    <h2 class="text-center">Blog Feature</h2>
    <div class="d-flex justify-content-center flex-wrap mt-4">
        <div class="p-3 text-center">
            <a class="nav-link" href="{% url 'my_blog:post_list' %}">Check out my blog built using Django.</a>
            <p>The blog is dynamically rendered using Django and Postgres for storage.
        </div>
    </div>
</div>


{% endblock content %}